{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.change_password'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.change_password'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmPassword) }}
    <button class="btn btn-primary">{{ 'action.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
